$ancho: 720px;
$colorPrimario: rgb(182, 179, 179);

//planes

.tituloPlanes {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
}
.planes{
    background-color: white;
    margin: 1rem;
    &__tarj{
        display: flex;
        justify-content: center;
    }
    &__basico{
        background-color: $colorPrimario;
        margin: 1rem;
        padding: 1rem   ;
        width: $ancho/2;
    }
    &__titulo{
        display: flex;
        justify-content: center;

    }
}

.pFrase{
    background: $colorPrimario;
    color: white;
}

// nosotros

.acerca{
    background: $colorPrimario;
    margin: 1rem;
    padding: 1rem;
}

.imagenflacoindex{
    transform: scale(0.5);
}

// imagenes index

.objetivos{
    margin: 1rem;
    background-color: white;


    &__tarj{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 30px;
        text-align: center; 

        
    }
    &__obj{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        margin: 2rem;
        transition: all 01s ease-out;

    }
    &__a{
        padding: 2rem;
        color: black;
        background-color: $colorPrimario;
        text-decoration: none;
        list-style: none;
        text-align: center;
        text-transform: uppercase;


    }
}
.objetivos__tarj :hover{
    background: rgb(255, 0, 0);
    color: white;
    transform: scale(1.1);
}

footer{
    margin-top: 1rem;
}

//mapa
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }


@media only screen and (max-width: 768px) {
    .objetivos__tarj{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .acercax{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 2rem;

    }
}
@media only screen and (max-width: 428px) {
    .planes__tarj{
        display: flex;
        flex-direction: column;
    }
    .planes__basico{
        width: 80%;
    }
}